<ion-header>
    <ion-navbar color="primary">
      <ion-title>
        Stempelkaart
      </ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    <ion-grid>
      <ion-row>
        <ion-col class="CitiesColumns" col-6 *ngFor="let city of cities">
          <div class="border">
            <img src="../../assets/imgs/{{city.checked}}" *ngIf="city.stamped === true">
            <img src="../../assets/imgs/{{city.unchecked}}" *ngIf="city.stamped === false">          
          </div>
        </ion-col>
        <div class="show-more bounce">
          <img src="../../assets/imgs/arrow-icon.svg">
        </div>
      </ion-row>
    </ion-grid>
  </ion-content>