<ion-header>
  <ion-navbar>
    <div class="arrow-back">
        <ion-icon name="arrow-back"></ion-icon>
    </div>
    <ion-title>
      Stempelkaart
    </ion-title>
  </ion-navbar>
  <div class="navbar-icicles"></div>
</ion-header>
  
<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col class="CitiesColumn" col-6 *ngFor="let city of stampService.stamp" (click)="this.navCtrl.push('StampcardPage')" >
        <div class="border">
          <img src="assets/imgs/{{city.trueimage}}" *ngIf="city.value === true">
          <img src="assets/imgs/{{city.falseimage}}" *ngIf="city.value === false">          
        </div>
      </ion-col>
    

        <!-- <button ion-button full (click)="clearStorage()">CLEAR HIM</button> -->
      </ion-row>
    </ion-grid>
  </ion-content>

