page-home {

    ion-navbar {
        ion-icon{
            display: none;
        }
    }

    ion-content {
        ion-row {
            .CitiesColumns {
                text-align: center;
                .card {
                    margin-bottom: 3vh;
                    img {
                        height: 35vw;
                    }
                }
            }
        }
    }
}