// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

//variabls
$white: #FFFFFF;
$lightblue: #10DAFE;
$babyblue: #70B1FB;
$grey: #575C71;

$font: 'Roboto', sans-serif;

$small: 11px;
$normal: 13px;
$large: 20px;

//custom icons

ion-icon {
    &[class*="custom-icon-map"] {
        mask-image: url(../assets/icon/maps.svg);
        mask-size: contain;
        mask-position: 50% 50%;
        mask-repeat: no-repeat;
        background: currentColor;
        width: 1em;
        height: 1em;
    }
    &[class*="custom-icon-stamp"] {
        mask-image: url(../assets/icon/stempel.svg);
        mask-size: contain;
        mask-position: 50% 50%;
        mask-repeat: no-repeat;
        background: currentColor;
        width: 1em;
        height: 1em;
    }
}

.icon-ios, .back-button-text-ios {
    color: $white;
}

//header
ion-header {
    height: 80px;
    ion-navbar {
        height: 80px;
        padding: 4px 30px !important;
        .toolbar-background {
            background-color: #2F3346;
        }
        .navbar-icicles {
            background-image: url(../assets/imgs/ijspegels.png);
            background-repeat: repeat-x;
            width: 100%;
            height: 100%;
            margin-top: -5px;
            position: absolute;
        }
        
        .header-md::after {
            background-image: none;
        }        

        .title-ios { 
            padding-right: 30xp;
            padding-left: 30px; 
            padding-bottom: 30px;
        }


        ion-title {
            text-align: left; 
            .toolbar-title {
                color: $white;
                font-size: $large;
                padding: 0;
            }
        }  
    }
}

//body

.padding-top {
    padding: 30px 0 0 0;
}

//kan later weg BEGIN
::-webkit-scrollbar {
    display: none;
    }
//END


.scroll-content {
    background-color: #191D31;
}

.toolbar-ios {
    border-top: 22px solid white;
}

//navbar
.tabbar {
    height: 56px;
}

.tab-button-text {
    font-size: 13px;
}