//Variabels

//colors
$white: #FFFFFF;
$lightblue: #10DAFE;
$babyblue: #70B1FB;
$grey: #575C71;
$darkblue: #191D31; 
$darkgrey: #2F3346;
$green: #2DCB3A;
$black: #111;

//fontfamily
$font: 'Roboto', sans-serif;

//fontsize
$small: 11px;
$normal: 13px;
$large: 20px;

//extends
%custom-icons {
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    background: currentColor;
    width: 1em;
    height: 1em;
}

//custom icons
ion-icon {
    &[class*="custom-icon-map"] {
        mask-image: url(../assets/icon/maps.svg);
        @extend %custom-icons;
    }

    &[class*="custom-icon-stamp"] {
        mask-image: url(../assets/icon/stempel.svg);
        @extend %custom-icons;
    }
}

.icon-ios, .back-button-text-ios {
    color: $white;
}

//header
ion-header {
    height: 80px;
    ion-navbar {
        height: 80px;
        padding: 4px 30px !important;

        .toolbar-background {
            background-color: $darkgrey;
        }

        .navbar-icicles {
            background-image: url(../assets/imgs/ijspegels.png);
            background-repeat: repeat-x;
            width: 100%;
            height: 100%;
            margin-top: -5px;
            position: absolute;
        }
        
        .title-ios { 
            padding: 0 30px 30px 30px;
        }

        ion-title {
            text-align: left; 
            .toolbar-title {
                color: $white;
                font-size: $large;
                padding: 0;
            }
        }  
    }
}

//body
.padding-top {
    padding: 30px 0 0 0;
}

::-webkit-scrollbar {
    display: none;
}

.scroll-content {
    background-color: $darkblue;
}

.toolbar-ios {
    border-top: 22px solid $white;
}

//navbar
.tabbar {
    height: 56px;
}

.tab-button-text {
    font-size: $normal;
}