// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


//variabls
$white: #FFFFFF;
$lightblue: #10DAFE;
$babyblue: #70B1FB;
$grey: #575C71;

$font: 'Roboto', sans-serif;

$small: 11px;
$normal: 13px;
$large: 20px;

//header
ion-header {
    height: 97px;
    ion-navbar {
        height: 97px;
        .toolbar-background {
            background-color: #2F3346;
        }
            text-align: center;
            .arrow-back {
                float: left;
                height: 48px;
                width: 48px;
                margin: 0 10px 0 0;
                padding-top: 8px;
                ion-icon {
                    margin: 0 8px 0 8px;
                    font-size: 32px;
                    color: $white;
                }

            }
        ion-title {
            text-align: left; 
            .toolbar-title {
                color: $white;
                font-size: $large;
                padding: 0;
            }
        } 
        h3 {
            float: left;
            color: $white;
            padding: 0;
            margin: 0;
            font-size: $normal;
            
        }   
    }
}

//body

//kan later weg BEGIN
::-webkit-scrollbar {
    display: none;
    }
//END


.scroll-content {
    background-color: #191D31;
}

.toolbar-ios {
    border-top: 22px solid white;
}

//navbar
