page-user {
    h1 {
        font-size: 20px;
        width: 100%;
        padding: 5px 10px 3px 10px;
        margin: -3px 0 0 0;
        color: $white;
        border-bottom: 2px solid $white;
        font-weight: lighter;
    }
    h3 {
        font-size: 16px;
        color: $white;
        margin: -3px 0 0 0;
        font-weight: lighter;
        color: $lightblue;
    }

    ion-content {
        .Option {
            padding: 10px 10px;
            border-bottom: 0.25px solid $lightblue;
        }

        .Option_reward {
            border: none;
        }
        
    }

}
.navbar-icicles {
    background-image: url(../assets/imgs/ijspegels.png);
    background-repeat: repeat-x;
    width: 100%;
    height: 100%;
    margin-top: -5px;
    position: absolute;
    background-size: contain;
}
.header-md::after {
    background-image: none;
}