page-modal-stampcard {
    .blurry-background {
        width: 100%;
        height: 100%;
        z-index: -1;
        left: 0;
        top: 0;
        position: absolute;
        background-color: #2F3346;
        opacity: 0.9;
    }
    .icy-background {
        background-image: url(../assets/imgs/transparant-ijs.png);
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        position: absolute;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .title-stampcard-modal {
        text-align: center;
        color: white;
    }
    .text-stampcard-modal {
        text-align: center;
        color: white;
        font-size: 1.6rem;
        width: 100%;
        margin: auto;
    }
    .scroll-content {
        background-color: transparent;
    }
    .content-md {
        background-color: transparent;
    }
    .citystamp-column {
        display: flex;
        // margin: 10% 0 10% 0;
    }
    .citystamp-image {
        border: 1px solid #70B1FB;
        border-radius: 15px;
        margin: auto;
        width: 40%;
    }
    .line {
        border-bottom: 2px solid white;
        opacity: 0.3;
        width: 80%;
        margin: auto;
    }
    .qr-image {
        width: 15%;
        padding-right: 5px;
    }
    ion-buttons {
        display: flex;
    } 
    .button-qr {
        border-radius: 20px;
        padding: 20px;
        width: 65%;
        margin: auto;
        background-color: #636B86;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        p {
            font-size: 9pt;
            text-transform: none;
        }
        
    }
    .button-sub {
        border-radius: 50%;
        background-color: #636B86;
        height: 30px;
        width: 30px;
        margin-top: 8px;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }
    .bar-buttons-ios[end] {
        padding: 30px 0 0 20px;
    }
    .scroll-content {
        padding: 40px;
    }
    .bar-buttons-md {
        display: flex;
    }
    .nfc-title {
        display: flex;
        width: 100%;
        margin: auto;
        margin-top: 3vh;
    }
    .bar-buttons.bar-buttons-md {
        padding-top: 2vh;
    }
    .bar-buttons p {
        color: white;
        padding: 0 9px 0 9px;
        font-size: 9pt;
        font-weight: bold;
    }
    .nfc-image {
        width: 60%;
        height: 100%;
        float: right;
        padding-right: 1rem;
    }
}
