page-modal-stampcard {
    %background-default {
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        position: absolute;
    }

    .blurry-background {
        @extend %background-default;
        z-index: -1;
        background-color: $darkgrey;
        opacity: 0.9;
    }
    
    .icy-background {
        @extend %background-default;
        background-image: url(../assets/imgs/transparant-ijs.png);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .title-stampcard-modal {
        text-align: center;
        color: $white;
    }

    .nfc-image {
        width: 24%;
        height: 10%;
        padding: 12px 12px 0 0;
        margin-bottom: -18px;
    }

    .text-stampcard-modal {
        text-align: center;
        color: $white;
        font-size: 18px;
    }

    .scroll-content, .contend-md {
        background-color: transparent;
    }

    .citystamp-column {
        display: flex;
        margin: 60px 0;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }

    .citystamp-image {
        border: 1px solid $babyblue;
        border-radius: 15px;
        margin: auto;
        width: 100%;
    }

    .citystamp-image-div {
        width: 100%;
    }

    .line {
        border-bottom: 2px solid $white;
        opacity: 0.3;
        width: 80%;
        margin: auto;
    }

    .qr-image {
        width: 15%;
        padding-right: 5px;
    }

    ion-buttons {
        display: flex;
    } 

    %buttons-stampcard-modal {
        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        background-color: $grey;
    }

    .button-qr {
        @extend %buttons-stampcard-modal;
        border-radius: 20px;
        padding: 20px;
        width: 65%;
        margin: auto;

        p {
            font-size: 9pt;
            text-transform: none;
        }
    }

    .button-sub {
        @extend %buttons-stampcard-modal;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        margin-top: 8px;
    }

    .bar-buttons-ios[end] {
        padding: 30px 0 0 20px;
    }

    .scroll-content {
        padding: 40px;
    }

    .bar-buttons-md {
        display: flex;
    }

    .nfc-title {
        display: grid;
        margin: auto;
    }

    .bar-buttons.bar-buttons-md {
        padding-top: 22px;
    }

    .bar-buttons p {
        color: $white;
        padding: 0 9px;
    }

    // activatie green border en vinkje voor succesvol behalen stempel van een specifieke stad //
    .border-succes-animation {
        width: 98%;
        height: 50%;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        -webkit-box-reflect: below 0px;
        right: -42px;
        bottom: 42px;
        position: absolute;
    }

    .border-succes-animation:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        border: 3px solid $green;
        border-radius: 23px 15px 25px 0;
    }

    .border-succes-animation:before {
        animation: animate-top-side 1s linear forwards;
    }

    @keyframes animate-top-side {
        0% {
            width: 0;
            height: 0;
            border-top-color: transparent;
            border-right-color: transparent;
            border-bottom-color: transparent;
            border-left-color: transparent;
            border-radius: 23px 15px 25px 0;
        }

        50% {
            width: 100%;
            height: 0;
            border-top-color: $green;
            border-right-color: transparent;
            border-bottom-color: transparent;
            border-left-color: $green;
            border-radius: 23px 15px 25px 0;
        }

        100% {
            width: 100%;
            height: 100%;
            border-top-color: $green;
            border-right-color: $green;
            border-bottom-color: transparent;
            border-left-color: $green;
            border-radius: 20px 15px 0 0;
        }
    }

    // Animatie stempel animatie op Stampcard in carousel //
    .stamp-succes-animation {
        background-image: url(../assets/imgs/stamps/leeuwarden.png);
        width: 75%;
        position: absolute;
        height: 100%;
        top: 3vh;
        left: 4.5vh;
        background-repeat: no-repeat;
        background-size: contain;
        -webkit-animation-name: stamp-animation;
        animation-name: stamp-animation;
        animation-delay: 1s;
        -webkit-animation-delay: 1s;
        -webkit-animation-duration: 0.4s;
        animation-duration: 0.4s;
        opacity: 0;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-animation-iteration-count: 1;   
        animation-iteration-count: 1;
    }

    @keyframes stamp-animation {
        0% {
            opacity: 0;
        }

        10% {
            opacity:.50;
            transform-origin: 50% 50%;
            transform: rotate(-2deg) scale(3);
            transition: all .3s cubic-bezier(0.6, 0.04, 0.98, 0.335);
        }
        
        70% {
            opacity:1;
            transform: rotate(-15deg) scale(1);
        }

        90% {
            opacity:1;
            transform: rotate(-15deg) scale(1.2);
        }

        100% {
            opacity:1;
            transform: rotate(-15deg) scale(1);
        }
    }

    // Animatie stempel behaald vinkje op Stampcard modal //
    .succes-state-icon {
        background-image: url(../assets/imgs/vinkje.png);
        width: 20%;
        position: absolute;
        height: 5vh;
        top: -2vh;
        left: 11vh;
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 1;
    }

    .succes-state-icon-animation {
        -webkit-animation-name: scale-animation;
        animation-name: scale-animation;
        animation-delay:1s;
        -webkit-animation-delay:1s;
        -webkit-animation-duration: 0.4s;
        animation-duration: 0.4s;
        opacity: 0;
        -webkit-animation-fill-mode:forwards;
        animation-fill-mode:forwards;
        animation-iteration-count: 1;
    }

    @keyframes scale-animation {
        0% {
            opacity: 0;
        }

        10% {
            opacity: 0;
            transform: scale(0);
            transition: all .3s;
        }

        70% {
            opacity: 1;
            transform: scale(1);
            transition: all .3s;
        }

        100% {
            opacity: 1;
            transform: scale(0.7);
        }
    }
}

// iOS green border correct
.ios {
    page-modal-stampcard {
        .border-succes-animation {
            width: 98%;
            height: 50%;
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
            -webkit-box-reflect: below 0px;
            right: -45px;
            bottom: 47px;
            position: absolute;
        }
    }
}
