ion-content {
    ion-row {
        .StampcardColumns {
            text-align: center;
            padding: 0;
        }
        .StampcardBackground-img {
            background-position: 50%;
            height: 18rem;
            background-size: cover;
            border-radius: 10px 10px 0 0;
        }
        .stampcard-city-image{
            width: 100%;
            border-radius: 0 10px 0 0;
        }
        

        .StampcardBackground-info {
            background-color:#2F3346;
            border-radius: 0 0 10px 10px;
        }
        .custom-nav-icon {
            padding-bottom: 0.6rem;
            width: 3rem;
            padding-right: 1rem;
        }
    }
}

.swiper-pagination-bullet-active {
    background: #70B1FB !important;
    width: 17px !important;
    height: 17px !important;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    opacity: 1;
    background: #2F3346;
}
%gradient {
    width: 9%;
    height: 100%;
    position: absolute;
    top: 0;
}

.gradient-left {
    @extend %gradient;
    left: 0%;
    background: linear-gradient(to left, rgba(25, 29, 49,0), rgb(25, 29, 49), rgb(25, 29, 49), rgb(25, 29, 49));
    z-index: 99;
}

.gradient-right {
    @extend %gradient;
    right: 0%;
    background: linear-gradient(to right, rgba(25, 29, 49,0), rgb(25, 29, 49), rgb(25, 29, 49), rgb(25, 29, 49));
    z-index: 99;
}

.city-name {
    font-size: $large;
    color: white;
    font-weight: bold;            
}

.slide-custom {
    width: 100% !important;
}

.slide-zoom {
    width: 95%;
}

ion-app.ios [padding] .scroll-content {
    padding: 12px 0 0 0 !important;
}

ion-slides {
    width: 88%;
    margin: auto;
}

.scroll-content {
    overflow: unset;
}

.border {
    border: 2px solid #111;
    border-radius: 8px;
    margin-bottom: 3vh; 
}

%button {
    border-radius: 25px;
    width: fit-content;
    height: 6vh;
    margin: auto;
    display: flex;
    line-height: 4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.button-grey {
    @extend %button;
    background-color: #575C71;
    color: white;
    font-size: 12px;
    padding: 0 1.5rem 0 1.5rem;
}

.button-blue {
    @extend %button;
    background: linear-gradient(0deg, #10DAFE, #70B1FB);
    color: white;
    font-size: $normal;
    font-weight: bold;
    padding: 0 3rem 0 3rem;
}

.button-stamp {
    @extend %button;
}

.swiper-container-horizontal > .swiper-pagination {
    display: block !important;
    position: fixed;
    bottom: 8rem;
}

.swiper-container {
    overflow: unset;
}

.slide-custom.swiper-slide.swiper-slide-prev {
    padding-right: 5rem;
    opacity: 0.3;
}

.slide-custom.swiper-slide.swiper-slide-next {
    padding-left: 5rem;
    opacity: 0.3;
}

.swiper-slide-prev .slide-knitcap {
    margin-right: 5rem;
}

.swiper-slide-next .slide-knitcap {
    margin-left: 5rem;
}

.slide-knitcap {
    background-image: url(../assets/imgs/muts.svg);
    width: 100%;
    position: absolute;
    height: 12vh;
    top: -6.2vh;
    left: -2.7vh;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: contain;
}

.bar-button-default-md {
    color: white;
}

// activatie green border en vinkje voor succesvol behalen stempel van een specifieke stad //

.succes-animation {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 10px;
}

.succes-animation:before {
    content: '';
    position: absolute;
    top: 0;
    left: -2px;
    width: 0;
    height: 0;
    border: 2px solid transparent;
}

.succes-animation:before {
    animation: animate 1s linear forwards;
}

@keyframes animate
{
    0%
    {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: 10px;
    }
    50%
    {
    width: 95%;
    height: 0;
    border-top-color: #2DCB3A;
    border-right-color: #2DCB3A;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: 10px;
    }
    100%
    {
    width: 95%;
    height: 99%;
    border-top-color: #2DCB3A;
    border-right-color: #2DCB3A;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: 10px;
    }
}

.succes-animation:after {
    content: '';
    position: absolute;
    bottom: -2px;
    right: 14px;
    width: 0;
    height: 0;
    border: 2px solid transparent;
}

.succes-animation:after {
    animation: animate-2 1s linear forwards;
}

@keyframes animate-2
{
    0%
    {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    }
    50%
    {
    width: 95%;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #2DCB3A;
    border-left-color: #2DCB3A;
    border-radius: 10px;
    }
    100%
    {
    width: 95%;
    height: 99%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #2DCB3A;
    border-left-color: #2DCB3A;
    border-radius: 10px;
    }
}

// Einde animatie succes //

// Animatie stempel animatie op Stampcard in carousel //



// Einde Animatie stempel //

// Animatie stempel behaald vinkje op Stampcard in carousel //

.succes-state-icon {
    background-image: url(../assets/imgs/vinkje.png);
    width: 20%;
    position: absolute;
    height: 5vh;
    top: -2.2vh;
    left: 32.3vh;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: contain;
}

.succes-state-icon-animation {
    -webkit-animation-name: pulse;
    animation-name: pulse;
    animation-delay:1s;
    -webkit-animation-delay:1s;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    opacity: 0;
    -webkit-animation-fill-mode:forwards;
     animation-fill-mode:forwards;
     animation-iteration-count: 1;
}

@keyframes pulse{
    0%{
      opacity: 0;
    }
    10%{
      opacity:.50;
      transform-origin: 50% 50%;
      transform: rotate(-2deg) scale(5);
      transition: all .3s cubic-bezier(0.6, 0.04, 0.98, 0.335);
    }
    100%{
      opacity:1;
      transform: rotate(-15deg) scale(1);
    }
  }

  // Einde Animatie stempel vinkje //