ion-content {
    ion-row {
        .StampcardColumns {
            text-align: center;
        }
        .StampcardBackground-img {
            background-image: url(http://us.yuneec.com/c.4198727/sca-dev-vinson/img/no_image_available.jpeg);
            background-position: 50%;
            height: 22rem;
            background-size: cover;
            border-radius: 10px 10px 0 0;
        }
        .StampcardBackground-info {
            background-color:#2F3346;
            border-radius: 0 0 10px 10px;
        }
        .custom-nav-icon {
            line-height: 6rem;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            padding-right: 1rem;
            font-size: 2rem;
        }
    }
}

.swiper-pagination-bullet-active {
    background: #70B1FB !important;
    width: 17px !important;
    height: 17px !important;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    opacity: 1;
    background: #2F3346;
}

.city-name {
    font-size: $large;
    color: white;
    font-weight: bold;            
}

.slide-custom {
    width: 100% !important;
}

.slide-zoom {
    width: 85%;
}

ion-app.ios [padding] .scroll-content {
    padding: 12px 0 0 0 !important;
}

ion-slides {
    width: 88%;
    margin: auto;
}

.padding-top {
    padding: 20px 0 0 0;
}

.border {
    border: 2px solid #111;
    border-radius: 8px;
    margin-bottom: 3vh; 
}

%button {
    border-radius: 25px;
    width: fit-content;
    height: 7vh;
    margin: auto;
    display: flex;
    line-height: 5rem;
    padding: 0 3rem 0 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.button-grey {
    @extend %button;
    background-color: #575C71;
    color: white;
    font-size: 12px;
}

.button-blue {
    @extend %button;
    background: linear-gradient(0deg, #70B1FB, #10DAFE);
    color: white;
    font-size: $normal;
    font-weight: bold;
}

.button-stamp {
    @extend %button;
}

.swiper-container-horizontal > .swiper-pagination {
    display: block !important;
    position: fixed;
    bottom: 8rem;
}